<footer class="text-center">
    <div class="container">
      <p>© 2024 Mi Portfolio. Todos los derechos reservados.</p>
      <div>
        <!-- Facebook -->
        <a href="https://facebook.com" class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="Facebook" style="width: 30px; height: 30px;">
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com" class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer">
          <img src="https://static.vecteezy.com/system/resources/previews/042/148/611/non_2x/new-twitter-x-logo-twitter-icon-x-social-media-icon-free-png.png" alt="Twitter" style="width: 30px; height: 30px;">
        </a>
        <!-- Instagram -->
        <a href="https://instagram.com" class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="Instagram" style="width: 30px; height: 30px;">
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com" class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer">
          <img src="https://static.vecteezy.com/system/resources/previews/023/986/926/non_2x/linkedin-logo-linkedin-logo-transparent-linkedin-icon-transparent-free-free-png.png" alt="LinkedIn" style="width: 30px; height: 30px;">
        </a>
        <!-- GitHub -->
        <a href="https://github.com" class="btn btn-outline-light btn-floating m-1" target="_blank" rel="noopener noreferrer">
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/GitHub_Invertocat_Logo.svg" alt="GitHub" style="width: 30px; height: 30px;">
        </a>
      </div>
    </div>
  </footer>
