<section id="about" class="py-5">
    <div class="container">
      <h2 class="mb-4" data-aos="fade-up">Sobre Mí</h2>
      <div class="row">
        <div class="col-md-6" data-aos="fade-right">
          <img src="https://lh3.googleusercontent.com/d/1HWWG2UjzHBUhZEW6Vp5gA4AUNieuyNaH" alt="Sobre Mí" class="img-fluid rounded">
        </div>
        <div class="col-md-6" data-aos="fade-left">
          <p>
            Apasionado del marketing y del mundo web, con una sólida formación en desarrollo y análisis de datos. Mi experiencia abarca desde el diseño web hasta la hostelería, pero ahora busco enfocar mi carrera en el Business Intelligence, donde puedo combinar mis habilidades técnicas y mi visión estratégica. Me entusiasma trabajar con datos, crear soluciones innovadoras y contribuir al crecimiento de las empresas mediante el análisis y la toma de decisiones basada en datos.
          </p>
          <h3 class="mt-4">Habilidades Clave</h3>
          <ul>
            <li>Desarrollo Front-End: HTML5, CSS, JavaScript</li>
            <li>Desarrollo Back-End: PHP, Python</li>
            <li>Bases de Datos: SQL</li>
            <li>Gestión de Contenidos: WordPress</li>
            <li>Análisis de Datos y Business Intelligence</li>
            <li>Diseño UX/UI y Prototipado</li>
            <li>Gestión de Proyectos y Metodologías Ágiles</li>
          </ul>
        </div>
      </div>
      <hr class="my-5">
      <h3 class="mb-4" data-aos="fade-up">Mi Trayectoria</h3>
      <div class="timeline" data-aos="fade-up">
        <ul>
          <li>
            <span class="date">2022</span>
            <div class="content">
              <h4>Inicio en el Marketing y Desarrollo Web</h4>
              <p>Descubrí mi pasión por el marketing digital y el desarrollo web, lo que me llevó a formarme en estas áreas.</p>
            </div>
          </li>
          <li>
            <span class="date">2023</span>
            <div class="content">
              <h4>Formación en Desarrollo Web</h4>
              <p>Me especialicé en desarrollo web en MEDAC, donde adquirí habilidades en programación, diseño y gestión de proyectos.</p>
            </div>
          </li>
          <li>
            <span class="date">2024</span>
            <div class="content">
              <h4>Experiencia Laboral Diversa</h4>
              <p>Trabajé como diseñador web y en el sector de la hostelería, adquiriendo habilidades versátiles y una visión amplia del mundo laboral.</p>
            </div>
          </li>
          <li>
            <span class="date">2025</span>
            <div class="content">
              <h4>Enfoque en Business Intelligence</h4>
              <p>Actualmente, busco consolidar mi carrera en el ámbito del Business Intelligence, aplicando mis conocimientos en análisis de datos y estrategia empresarial.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
